# Here import the python libraries

In [1]:
import json
import pprint
import random
from datetime import datetime

# Here add the Menu of resturant

In [2]:
menu={}
menu[1]={"Name":'Vegetable Samosa        ',"Plate":1,"Price":50.00}
menu[2]={"Name":'Pakoras                 ',"Plate":1,"Price":30.00}
menu[3]={"Name":'Chicken Tikka           ',"Plate":1,"Price":100.00}
menu[4]={"Name":'Nawab Panir Tikka       ',"Plate":1,"Price":120.00}
menu[5]={"Name":'Vegetable Kashmiri Korma',"Plate":1,"Price":80.00}
menu[6]={"Name":'Vegetable Kofta         ',"Plate":1,"Price":80.00}
menu[7]={"Name":'Shahi Paneer            ',"Plate":1,"Price":100.00}
menu[8]={"Name":'Vegetable Curry         ',"Plate":1,"Price":60.00}
menu[9]={"Name":'Butter Chicken          ',"Plate":1,"Price":90.00}
menu[10]={"Name":'Fish Curry               ',"Plate":1,"Price":80.00}

# Here we printing the bill

In [10]:
    today=datetime.now()
    customer_order={}
    Id=random.randint(1000000000,9999999999)
    customer_order["Customer_ID:-       "]=Id
    no_of_order=int(input("No of order item"))
    count=0 
    itm=0
    for i in range(1,no_of_order+1):
        item=int(input("Item code:- "))
        quantity=float(input("No. of Item:- "))
        customer_order[menu[item]['Name']]= quantity
        
        for j in customer_order:
            itm+=1
        count+=menu[item]['Price']*customer_order[j]
        #print(count)
        print(j, "          " ,quantity, "            "  ,menu[item]['Price']*customer_order[j])
        print("*************************")    
print("total Amount                        ",count)
print(today)

No of order item6
Item code:- 10
No. of Item:- 2
Fish Curry                           2.0              160.0
*************************
Item code:- 5
No. of Item:- 3
Vegetable Kashmiri Korma            3.0              240.0
*************************
Item code:- 8
No. of Item:- 4
Vegetable Curry                     4.0              240.0
*************************
Item code:- 9
No. of Item:- 3
Butter Chicken                      3.0              270.0
*************************
Item code:- 4
No. of Item:- 2
Nawab Panir Tikka                   2.0              240.0
*************************
Item code:- 5
No. of Item:- 3
Nawab Panir Tikka                   3.0              160.0
*************************
total Amount                         1310.0
2021-09-06 21:15:21.955377

# Here print , What customer ordered

In [11]:
pprint.pprint(customer_order)

{'Butter Chicken          ': 3.0,
 'Customer_ID:-       ': 9753231774,
 'Fish Curry               ': 2.0,
 'Nawab Panir Tikka       ': 2.0,
 'Vegetable Curry         ': 4.0,
 'Vegetable Kashmiri Korma': 3.0}

In [12]:
pq=json.dumps(customer_order)
sq=json.dumps(count)

# Here we recod a salinig data in json file

In [13]:
f=open("sale_record.json","a")
f.write("\n")
f.write(pq)
f.write("     ")
f.write("total amount  ",)
f.write(sq)
f.write("\n")


f.close()